* {
    box-sizing: border-box;
  }
  
  body,html{
    margin: 0px;
    background: url(doc.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-right: 0px;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }
  input[type=time], select, textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 30px;
    color: rgb(14, 87, 81);
    
  }
  
  input[type=submit] {
    background-color: darkcyan;
    color: white;
    padding: 19px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    font-size: 22px;
  }
  
  input[type=submit]:hover {
    background-color: #28832d;
  }
  
  

  .container {
    border-radius: 5px;
    padding: 0px;
    display: grid;
    grid-gap:10px ;
    grid-template-columns: repeat(11,1fr) ;
    grid-template-rows: repeat(5,1fr);
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 0px;
    

    
  }
  .img1{
    grid-column:11/12 ;
      grid-row: 4/5;
      justify-items: end;
  }
  .img2{
    grid-column:11/12 ;
      grid-row:2/3;
  }
  .img3{
    grid-column:11/12 ;
      grid-row: 3/4;
      justify-content: end;
  }
  .img4{
    grid-column:11/12 ;
      grid-row: 1/2;
      justify-content: end;
  }
  form{
      grid-column:1/9 ;
      grid-row: 1/5;
  }
  
  .container1{
    display: grid;
    grid-gap:20px ;
    grid-template-columns: 2fr 4fr ;
    grid-template-rows: repeat(3,1fr);
    
  }
  img{
    height: 100px;
    width:100px ;
    justify-items: end;
  }
  
  .row{
      grid-column: 1/3;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }



  .img1 {
    position: relative;
    width: 50%;
  }
  .img2 {
    position: relative;
    width: 50%;
  }
  .img3 {
    position: relative;
    width: 50%;
  }
  .img4 {
    position: relative;
    width: 50%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .img1:hover .overlay {
    opacity: 1;
    grid-column:11/12 ;
    grid-row: 3/4;  }
  .img2:hover .overlay {
    opacity: 1;
    grid-column:11/12 ;
      grid-row: 3/4;
  }
  .img3:hover .overlay {
    opacity: 1;
    grid-column:11/12 ;
      grid-row: 3/4;
  }
  .img4:hover .overlay {
    opacity: 1;
    grid-column:11/12 ;
      grid-row: 3/4;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1{
    color: rgb(6, 56, 56);
  font-size:60px;
  text-align: center;
   
  }